<form method="post" action="">
  {% csrf_token %}
  <p>
    Project: {{ project.name }}
  </p>
  {% for task in project.task_set.all %}
  {% if task.taskitem_set.exists %}
  <h3> {{ task.name }}: </h3>
  <table>
    <tr>
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Minutes Billed</th>
      <th>Rate</th>
      <th>Invoice?</th>
    </tr>
    {% for item in task.taskitem_set.all %}
    <tr>
      <td>
	{{ item.description }}
      </td>
      <td>
	{{ item.start_time }}
      </td>
      <td>
	{{ item.end_time }}
      </td>
      <td>
	{{ item.minutes_billed }}
      </td>
      <td>
	{{ item.rate }}
      </td>
      <td>
	{% if item.invoice %}
	<input type="checkbox" name="task_item_{{ item.id }}" />
	{% else %}
	<input type="checkbox" name="task_item_{{ item.id }}" checked=true />
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% endfor %}
  <input type="submit" value="Submit" />
</form>

<div id="root"></div>
<script type="text/javascript" src="/static/js/main.8ea56e73.js"></script>
