<head>
  <script>
    function calculateCost(item_id) {
    var rate = parseFloat(document.getElementById("taskitem_rate_" + item_id).value);
    var minutes_billed = parseFloat(document.getElementById("taskitem_minutes_billed_" + item_id).value);
    document.getElementById("taskitem_cost_" + item_id).innerHTML = "$" + Math.round(rate * minutes_billed / 60).toFixed(2);
    };

    function calculateAllCosts() {
    var taskitems = document.getElementsByClassName("taskitem");
    [].forEach.call(taskitems, function(taskitem) {
    calculateCost(taskitem.id);
    })
    };

    window.onload = function() {
    calculateAllCosts();
    };
  </script>
</head>
<form method="post" action="" onload="window.onload()">
  {% csrf_token %}
  <p>
    Project: {{ project.name }}
  </p>
  {% for task in project.task_set.all %}
  {% if task.taskitem_set.exists %}
  <h3>
    <input name="task_name_{{task.id}}" value="{{ task.name }}" />
  </h3>
  <table>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Minutes Billed</th>
      <th>Rate</th>
      <th>Employee</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Invoice?</th>
    </tr>
    {% for item in task.taskitem_set.all %}
    <tr id={{ item.id }} class="taskitem">
      <td>
	{{ item.start_time }}
      </td>
      <td>
	{{ item.end_time }}
      </td>
      <td>
	<input name="taskitem_minutes_billed_{{ item.id }}" value={{ item.minutes_billed }} />
      </td>
      <td>
	<input name="taskitem_rate_{{ item.id }}" value={{ item.rate }} />
      </td>
      <td>
      	<select name="taskitem_employee_id_{{item.id}}">
	  {% for employee in employees %}
	  {% if employee.id == item.employee_id %}
	  <option value={{ employee.id }} selected>{{ employee.first_name }} {{ employee.last_name }}, {{ employee.title }}</option>
	  {% else %}
	  <option value={{ employee.id }}>{{ employee.first_name }} {{ employee.last_name }}, {{ employee.title }}</option>
	  {% endif %}
	  {% endfor %}
      	</select>
      </td>
      <td>
	<input name="taskitem_description_{{ item.id }}" value={{ item.description }} />
      </td>
      <td>

	<p id="taskitem_cost_{{ item.id }}"></p>
	<p onload="calculateCost({{ item.id }})"></p>

	<button type="button" onclick="calculateCost({{ item.id }})">calc</button>

      </td>
      <td>
	{% if item.invoice %}
	<input type="checkbox" name="invoice_{{ item.id }}" />
	{% else %}
	<input type="checkbox" name="invoice_{{ item.id }}" checked=true />
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% endfor %}
  <input type="submit" value="Submit" />
</form>

<div id="root"></div>
<script type="text/javascript" src="/static/js/main.8ea56e73.js"></script>
