<head>
<script type="text/javascript" src="/static/js/invoicer.js"></script>
</head>
<form method="post" action="" onload="window.onload()">
  {% csrf_token %}
  <p>
    Invoice: {{ invoice.id }}
  </p>
  <table>
    <tr>
      <th>Date</th>
      <th>Minutes Billed</th>
      <th>Rate</th>
      <th>Employee</th>
      <th>Task</th>
      <th>Description</th>
      <th>Cost</th>
    </tr>
    {% for task in project.task_set.all %}
    {% if task.taskitem_set.exists %}
    {% for item in task.taskitem_set.all %}
    {% if item.invoice_id == invoice.id %}
    <tr id={{ item.id }} class="taskitem">
      <td>
	{{ item.start_time }}
      </td>
      <td id="taskitem_minutes_billed_{{ item.id }}"
	  name="taskitem_minutes_billed_{{ item.id }}"
	  value={{ item.minutes_billed }}>
	{{ item.minutes_billed }}
      </td>
      <td id="taskitem_rate_{{ item.id }}"
	  name="taskitem_rate_{{ item.id }}"
	  value={{ item.rate }}>
	{{ item.rate }}
      </td>
      <td>
	{% for employee in employees %}
	{% if employee.id == item.employee_id %}
	{{ employee.first_name }} {{ employee.last_name }}, {{ employee.title }}
	{% endif %}
	{% endfor %}
      </td>
      <td>{{ task.name }}</td>
      <td>{{ item.description }}</td>
      <td>
	<p id="taskitem_cost_{{ item.id }}"></p>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  {% endif %}
  {% endfor %}
</form>

<div id="root"></div>
<!-- <script type="text/javascript" src="/static/js/main.8ea56e73.js"></script> -->
